{% extends "layout.html" %}
{% block title %}Fake News Classification{% endblock %}
{% block body %}

<div class="container">
    <h2>Klasifikasi Berita</h2>
    <hr>
    <form action="/predict" method="POST">
        <div class="mb-3">
            <label for="text" class="form-label">Masukkan teks di bawah ini untuk mengecek kebenaran informasi:
            </label>
            <textarea class="form-control" id="text" name="text" rows="3" style="height: 303px;"
                placeholder="Masukkan teks..." required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</div>

{% endblock %}